.chartscard {
  &__container {
    margin-top: 2rem;
    background-color: hsla(0, 0%, 100%, 0.03);
    padding: 1rem;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.1);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 160px;
      width: 160px;
      border-radius: 5px;
      margin-bottom: 1rem;
    }

    h2 {
      font-family: var(--font-family);
      font-weight: 900;
      font-size: 16px;
      margin-bottom: 1rem;
    }

    p {
      font-family: var(--font-family);
      font-size: 14px;
      color: var(--font-grey);
      font-weight: 800;
      line-height: 2;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
