.discover {
  &__container {
    background-color: #121212;
    flex: 1;
  }

  &__flex {
    background: rgb(255, 46, 0);
    background: linear-gradient(
      148deg,
      rgba(255, 46, 0, 1) 0%,
      rgba(0, 0, 0, 0.02) 100%
    );
  }
}
