@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Varela+Round&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --font-primary: #ffffff;
  --font-grey: #808080;
  --font-light-grey: #a8a8a8;
  --black-background: #000;
}
